<a href="https://colab.research.google.com/github/MirzaSaniya/Accessing-Python-Library-Saniya-Mirza/blob/main/Python_Data_Analysis_Saniya_Mirza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Adjust the flag below according to your usage.
colab_flag = True
#Adjust the path below according to where you downloaded files
my_path = '/content/gdrive/My Drive/'  #This remains unchanged for Colab users
my_path += 'data' #If you are using Colab, set this to the path that you unzipped your files

#If you are not using colab, update the path below:
if(colab_flag == False):
    my_path = 'the_path_that_you_unzipped_your_files' #Make your updates here
my_path

'/content/gdrive/My Drive/data'

In [ ]:
def initialize_path(is_colab, data_path):
  if(is_colab):
    from google.colab import drive
    drive.mount('/content/gdrive')
  %cd $data_path

In [ ]:
!ls

sample_data

In [ ]:
#Execute this command only if you are using Colab
initialize_path(colab_flag, my_path)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive
/content/gdrive/My Drive/data

In [ ]:
%ls

names.csv  names.txt  profession_and_age  profession_and_age.xlsx

In [ ]:
!pwd

/content/gdrive/My Drive/data

In [ ]:
import numpy as np
import pandas as pd
import os
from matplotlib import pyplot as plt
from matplotlib.ticker import PercentFormatter
from pylab import rcParams
import sqlite3
from sqlite3 import Error
from sqlalchemy import create_engine

In [ ]:
df_names_txt = pd.read_csv(
    'names.txt',  # path/url to the file
    sep='\t',      # specify separator between columns
    header=0)     # row containing column names
df_names_txt

  First Name  Last Name      Profession
0      Fidel  Rodriguez        Comedian
1       Bill      Gates  Philanthropist
2        Tom      Brady         Athlete
3       Bill        Nye       Presenter

In [ ]:
df_names_csv = pd.read_csv(
    'names.csv',  # path/url to the file
    sep=',',      # specify separator between columns
    header=0)     # row containing column names
df_names_csv

NameError: ignored

In [ ]:
df_profession_and_age_age = pd.read_excel('profession_and_age.xlsx', sheet_name = 'Age')
df_profession_and_age_age

  First Name Last Name   Age
0        Tom     Brady    10
1       Bill       Nye    20
2       Bill     Gates    30
3   Godzilla       III  1000

In [ ]:
df_names_txt.merge(df_profession_and_age_age, on=['First Name', 'Last Name'], how = 'outer')

  First Name  Last Name      Profession     Age
0      Fidel  Rodriguez        Comedian     NaN
1       Bill      Gates  Philanthropist    30.0
2        Tom      Brady         Athlete    10.0
3       Bill        Nye       Presenter    20.0
4   Godzilla        III             NaN  1000.0

In [ ]:
data_path = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRTZ0jj-ClS7G07Gux6UVBz5iKxferpaOFZuwkCGxuTzE_jS68Bygv0cRY0fh-aJFRscbz9iO1K3XQe/pub?gid=744086987&single=true&output=csv"
df_airbnb = pd.read_csv(data_path)

### Accessing  databases
* For this exercise, we will try to access a local SQL database using sqlite.
* Procedure to access remote database are similar.
* The local database was created in SQLite using the following code:
```sql
CREATE TABLE profession(
  first_name VARCHAR,
  last_name VARCHAR,
  profession VARCHAR
);
CREATE TABLE age(
  first_name VARCHAR,
  last_name VARCHAR,
  age INT
);
INSERT INTO profession VALUES
  ("Fidel", "Rodriguez", "Comedian"),
  ("Tom", "Brady", "Athlete"),
  ("Bill", "Nye", "TV Personality"),
  ("Bill", "Gates", "Philanthropist");
INSERT INTO age VALUES
  ("Tom", "Brady", 10),
  ("Bill", "Nye", 20),
  ("Bill", "Gates", 30),
  ("Godzilla", "III", 1000);
```

In [ ]:
#This won't work unless the path that you have is setup properly (try !pwd to check)
conn = sqlite3.connect("profession_and_age")

In [ ]:
#This won't work unless the path that you have is setup properly (try !pwd to check)
cur = conn.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
conn.commit()
records = cur.fetchall()
for row in records:
    print("col1 ", row[0])
    print("\n")
cur.close()

col1  age


col1  profession

In [ ]:
#This won't work unless the path that you have is setup properly (try !pwd to check)
engine = create_engine("sqlite:///profession_and_age")
pd.read_sql_table('age', engine)

  first_name  last_name  age
0     Sharat  Chikkerur   38
1        Tom      Brady   40
2       Bill        Nye   62
3     Barack      Obama   56


Part 1 - An economist asserts that [logged] Truck Tonnage correlates well with the S&P 500.
Retrieve the data for each series
Apply a log transform to the data (where appropriate).
Plot the data and identify any relationships positive neg
Shade areas that contain recessions good graph
Explain how the information may or may not be used crti thinking analyse if one goes down what for others

Part 2 - An economist asserts that stock market direction is largely based on whether sp500 ndex is above/below the 200 Day Simple Moving Average (SMA).
Retrieve the data for the S&P 500
Create simple moving average columns for not only the 200 day SMA, but also for other popular SMAs (e.g., 20, 50, and 100) matrix do by 20 50 and 100
Plot the data and identify any relationships pos neg
Shade areas that contain recessions  fun to shade rece shader
Explain how the information may or may not be used
monte carlo simulat
short term rates cost more than long term
murder death divorce
inv yield curve
Part 3 - Come up with your own assertion and test it (you can use the data above or other interesting things, such as GDP, the 10-Year Treasury Constant Maturity Minus 2-Year Treasury Constant Maturity, the Cyclically Adjusted PE)
Document your hypothesis or idea
Retrieve the data
Highlight interesting areas
Explain how the information may or may not be used

Hint: Pandas, quandl, pandas-datareader, matplotlib, and numpy are excellent packages for this type of work.